<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <title>Document</title>
  </head>
  <div id="root"></div>
  <body>
    <div id="root"></div>
    <script type="module">
      import { MyComp } from "./MyComponent";
    </script>
    <script type="text/babel">
      // 컴포넌트
      function MyApp() {
        return (
          <div>
            {true && <MyComponent />}
            <MyFuncComponent />
          </div>
        );
      }

      // MyComponent는 클래스형 컴포넌트
      // React.Component에서 함수를 상속하여 수정해서 사용
      class MyComponent extends React.Component {
        render() {
          return <h1>확인</h1>;
        }
      }

      // 함수형 컴포넌트
      // return에 html을 작성하여 내보낸다.
      function MyFuncComponent() {
        return <h1>함수형 컴포넌트 입니다</h1>;
      }

      // 연결
      const container = document.querySelector("#root");
      const root = ReactDOM.createRoot(container);
      // 작성한 컴포넌트 루트에 출력
      root.render(<MyApp />);
    </script>
  </body>
</html>
